<footer class="footer">
        <ul class="footer-links">
          <!-- remove RSS
          <li>
            <a href="{{ .Site.RSSLink | relURL }}" type="application/rss+xml" target="_blank">RSS feed</a>
          </li> -->
          <h2> <strong> Social Ecological Networks Group </strong> </h2>
          <img src = "{{ "images/SENG_Circle_NoOutline.png" | relURL }}" alt = "SENG logo" width = "108" height = "96">
      </footer>

    </div>
    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
