{{ partial "header.html" . }}
<main class="about" role="main">
  <div class="about-content">
    <!-- Note the content for here pulls from content/about.md -->
    {{ .Content }}
  </div>
</main>
{{ partial "footer.html" . }}